footer {
  background-color: #000000;
  color: white;
}

footer h3 {
  font-weight: 600;
}

footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #1a2244; /* Cambia al color rojo cuando pasa el ratón */
}

footer .fab {
  font-size: 20px;
}

footer .space-y-4 > * {
  margin-bottom: 16px;
}

footer .text-gray-400 {
  color: #b0b0b0;
}

footer .text-center {
  text-align: center;
}
