<div class="promotion-section bg-[#213555] text-white py-16">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold mb-6">¡Ventajas!</h2>
    <p class="text-lg mb-8">Las canilleras personalizadas son la mejor opción para la protección y comodidad durante tus entrenamientos y partidos. Aquí te dejamos algunas razones por las que elegir nuestras canilleras.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12">
      <!-- Ventaja 1 -->
      <div class="advantage-card bg-[#3E5879] p-6 rounded-lg shadow-lg">
        <i class="fas fa-shield-alt text-4xl mb-4"></i>
        <h3 class="text-xl font-semibold mb-2">Máxima Protección</h3>
        <p>Diseñadas para brindar la máxima seguridad y evitar lesiones en el campo.</p>
      </div>

      <!-- Ventaja 2 -->
      <div class="advantage-card bg-[#3E5879] p-6 rounded-lg shadow-lg">
        <i class="fas fa-users text-4xl mb-4"></i>
        <h3 class="text-xl font-semibold mb-2">Ajuste Personalizado</h3>
        <p>Elige la talla y diseño que más se adapte a tu estilo y necesidades.</p>
      </div>

      <!-- Ventaja 3 -->
      <div class="advantage-card bg-[#3E5879] p-6 rounded-lg shadow-lg">
        <i class="fas fa-clipboard-check text-4xl mb-4"></i>
        <h3 class="text-xl font-semibold mb-2">Comodidad Garantizada</h3>
        <p>Gracias a su diseño ergonómico, sentirás una comodidad durante todo el juego.</p>
      </div>
    </div>
  </div>
</div>
